/*body {
  font: 10px sans-serif;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #313a37;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
.axis text{
  color: #313a37;
  font-size: 1.25em;
  font-family: "Sanford";
}
