@font-face {
  font-family: "Estandar";
  src:url('Estandar-Regular.ttf');
}
@font-face {
  font-family: "Sanford";
  src:url('Sanford.ttf');
}
html, body{
  background: #aaaaaa;
}
#wrapper{
  margin: -1%;
  height: 100%;
  margin: -1%;
  padding: 20px 35px 30px 35px;
  background-color: #eeeeee;
}
p, h2{
  color: #333333;
  font-family: "Estandar";
}
h1{
  font-size: 48px;
  text-decoration: underline;
  font-weight: normal;
  font-family: Estandar;
  margin-bottom: 10px;
}
h2{
  font-weight: normal;
  font-size: 30px;
  margin-top: 35px;
}
p{
  font-family: "Sanford";
  font-size: 20px;
  line-height: 1.5;
}
svg{
  /*background-color: #5794B2;*/
  margin: 0 auto;
  padding: 50px;
}
button{
  float: right;
  font-family: Estandar;
  padding: 6px;
  background-color: #B22B03;
  color: white;
  border-radius: 5px;
  border: 0px;
  margin-left: 10px;
  font-size: 18px;
}
select{
  float: left;
  font-family: Estandar;
  padding: 4px;
  border-radius: 5px 5px 0 0;
  background-color: #B22B03;
  color: white;
  font-size: 18px;
}
#controls{
  margin-bottom: 80px;
}
#svg-container{
  margin: 0 auto;
  display: inline-block;
}
#legend{
  display: inline-block;
  float: left;
  margin-right: 25px;
  padding-left: 5px;
  padding: 0 10px 25px 10px;
  background: #eeeeee;
}
#legend p{
  padding-left: 3px;
  margin-bottom: -15px;
  color: white;
}
.nodisplay{
  display: none;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  font-family: Estandar;
  letter-spacing: 1px;
  background: #B22B03;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
  color: #eeeeee;
}
#footer{
  margin-bottom: -1%;
  background-color: #aaaaaa;
}
#footer p{
  font-size: 12px;
  color: #333333;
  letter-spacing: .75px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}
#footer a{
  text-decoration: none;
}
